In [8]:
# import required libraries
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [9]:
my_headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:108.0) Gecko/20100101 Firefox/108.0'}

In [10]:
session = requests.Session()

In [11]:

url = 'https://en.wikipedia.org/wiki/List_of_largest_sports_contracts'
response = session.get(url, headers=my_headers)
# create BeautifulSoup object
soup = BeautifulSoup(response.content, 'html.parser')

# locate correct table
table = soup.find("table", class_="wikitable sortable plainrowheaders")
rows = table.findAll(lambda tag: tag.name=='tr')

# create DataFrame
df = pd.read_html(str(table))[0]

df

,Rank,Name,Organization,Sport,Length of contract,Contract value (USD),Average per year (USD),Average per game/event[a] (USD),Ref.
0,1,Lionel Messi,Barcelona F.C.,Association football,4 years (2017–2021),"$674,000,000","$168,500,000","$4,434,210 [b]",[1]
1,2,Cristiano Ronaldo,Al-Nassr,Association football,2.5 years (2023–2025)[c],"$536,336,818","$214,534,727","$7,151,158[d]",NaN
2,3,Patrick Mahomes[e]‡,Kansas City Chiefs,American football,10 years (2020–2031),"$503,000,000","$41,916,667","$2,465,686[f]",[2]
3,4,Mike Trout,Los Angeles Angels,Baseball,12 years (2019–2030),"$426,500,000","$35,541,667","$219,393",[3]
4,5,Canelo Álvarez,DAZN,Boxing,5 years (2018–2023),"$365,000,000","$73,000,000","$33,181,818",[4]
...,...,...,...,...,...,...,...,...,...
93,95 (Tie),Kristaps Porziņģis,Dallas Mavericks*,Basketball,5 years (2019–2024),"$158,253,000","$31,650,600","$385,982",[93]
94,95 (Tie),Karl-Anthony Towns,Minnesota Timberwolves,Basketball,5 years (2019–2024),"$158,253,000","$31,650,600","$385,982",[94]
95,97 (Tie),Brandon Ingram,New Orleans Pelicans,Basketball,5 years (2020–2025),"$158,253,000","$31,650,600","$385,982",[95][96]
96,97 (Tie),Jamal Murray,Denver Nuggets,Basketball,5 years (2020–2025),"$158,253,000","$31,650,600","$385,982",[97]
97,99,Troy TulowitzkiR,Colorado Rockies*,Baseball,10 years (2011–2020),"$157,750,000","$15,775,000","$97,376",[98]

In [12]:
df = df.drop(columns=["Rank", "Organization", "Ref."])
df

,Name,Sport,Length of contract,Contract value (USD),Average per year (USD),Average per game/event[a] (USD)
0,Lionel Messi,Association football,4 years (2017–2021),"$674,000,000","$168,500,000","$4,434,210 [b]"
1,Cristiano Ronaldo,Association football,2.5 years (2023–2025)[c],"$536,336,818","$214,534,727","$7,151,158[d]"
2,Patrick Mahomes[e]‡,American football,10 years (2020–2031),"$503,000,000","$41,916,667","$2,465,686[f]"
3,Mike Trout,Baseball,12 years (2019–2030),"$426,500,000","$35,541,667","$219,393"
4,Canelo Álvarez,Boxing,5 years (2018–2023),"$365,000,000","$73,000,000","$33,181,818"
...,...,...,...,...,...,...
93,Kristaps Porziņģis,Basketball,5 years (2019–2024),"$158,253,000","$31,650,600","$385,982"
94,Karl-Anthony Towns,Basketball,5 years (2019–2024),"$158,253,000","$31,650,600","$385,982"
95,Brandon Ingram,Basketball,5 years (2020–2025),"$158,253,000","$31,650,600","$385,982"
96,Jamal Murray,Basketball,5 years (2020–2025),"$158,253,000","$31,650,600","$385,982"
97,Troy TulowitzkiR,Baseball,10 years (2011–2020),"$157,750,000","$15,775,000","$97,376"

In [13]:
# convert salaries to int
for column in df.columns[3:]:
    if column != "Name" or "Sport" or "Length of Contract":
        df[column] = df[column].map(lambda x: ''.join([i for i in x if i.isdigit()])).astype(int)

df

,Name,Sport,Length of contract,Contract value (USD),Average per year (USD),Average per game/event[a] (USD)
0,Lionel Messi,Association football,4 years (2017–2021),674000000,168500000,4434210
1,Cristiano Ronaldo,Association football,2.5 years (2023–2025)[c],536336818,214534727,7151158
2,Patrick Mahomes[e]‡,American football,10 years (2020–2031),503000000,41916667,2465686
3,Mike Trout,Baseball,12 years (2019–2030),426500000,35541667,219393
4,Canelo Álvarez,Boxing,5 years (2018–2023),365000000,73000000,33181818
...,...,...,...,...,...,...
93,Kristaps Porziņģis,Basketball,5 years (2019–2024),158253000,31650600,385982
94,Karl-Anthony Towns,Basketball,5 years (2019–2024),158253000,31650600,385982
95,Brandon Ingram,Basketball,5 years (2020–2025),158253000,31650600,385982
96,Jamal Murray,Basketball,5 years (2020–2025),158253000,31650600,385982
97,Troy TulowitzkiR,Baseball,10 years (2011–2020),157750000,15775000,97376

In [17]:
df.to_csv('sports_contracts.csv')