In [1]:
# import necessary libraries
import pandas as pd
import os
import glob

In [2]:
cpi = pd.read_csv('C:/Users/whisk/OneDrive/Documents/Bristol/Economics/Year 4/Data Science/slblundell.github.io/nba_project/data/cpi-u_2013-22.csv')
bri = pd.read_csv('C:/Users/whisk/OneDrive/Documents/Bristol/Economics/Year 4/Data Science/slblundell.github.io/nba_project/data/total_league_revenues.csv')

In [3]:
teams = ['atl', 'bkn', 'bos', 'cha', 'chi', 'cle', 'dal', 'den', 'det', 'gsw', 'hou', 'ind', 'lac', 'lal', 'mem', 
'mia', 'mil', 'min', 'nop', 'nyk', 'okc', 'orl', 'phi', 'phx', 'por', 'sac', 'sas', 'tor', 'uth', 'was']

In [4]:
for team in teams:
    df = pd.read_csv(f'active_payroll_{team}.csv')
    
    df = df.rename(columns={'year': 'Year', 'team': 'Team', 'code': 'Code','active': 'Payroll'})
    
    df = pd.merge(df, cpi, on='Year')
    df = pd.merge(df, bri, on='Year')

    df['Adjusted Payroll'] = df['Payroll'] / (df['Annual'] + df['Revenue'])

    df.to_csv(f'active_payroll_{team}.csv')

In [5]:
df

,Team,Code,Year,Payroll,Annual,Revenue,Adjusted Payroll
0,Washington Wizards,WAS,2021,126147247,270.970,641.0,138323.899909
1,Washington Wizards,WAS,2020,126243515,258.811,792.0,120139.125875
2,Washington Wizards,WAS,2019,87153787,255.657,876.0,77014.313524
3,Washington Wizards,WAS,2018,115917170,251.107,801.0,110176.217818
4,Washington Wizards,WAS,2017,122840421,245.120,737.0,125076.794078
5,Washington Wizards,WAS,2016,101659831,240.007,587.0,122924.994589
6,Washington Wizards,WAS,2015,76328636,237.017,518.0,101095.254809
7,Washington Wizards,WAS,2014,72952787,236.736,479.0,101926.949322
8,Washington Wizards,WAS,2013,63807197,232.957,456.0,92614.193629
9,Washington Wizards,WAS,2012,57506990,229.594,368.0,96230.869118
10,Washington Wizards,WAS,2011,66770575,224.939,396.0,107531.617437