In [1]:
# import necessary libraries
import pandas as pd
import os
import glob

In [2]:
cpi = pd.read_csv('C:/Users/whisk/OneDrive/Documents/Bristol/Economics/Year 4/Data Science/slblundell.github.io/nba_project/data/cpi-u_2013-22.csv')
bri = pd.read_csv('C:/Users/whisk/OneDrive/Documents/Bristol/Economics/Year 4/Data Science/slblundell.github.io/nba_project/data/total_league_revenues.csv')

In [3]:
teams = ['atl', 'bkn', 'bos', 'cha', 'chi', 'cle', 'dal', 'den', 'det', 'gsw', 'hou', 'ind', 'lac', 'lal', 'mem', 
'mia', 'mil', 'min', 'nop', 'nyk', 'okc', 'orl', 'phi', 'phx', 'por', 'sac', 'sas', 'tor', 'uth', 'was']

In [4]:
for team in teams:
    df = pd.read_csv(f'active_payroll_{team}.csv')
    
    df = df.rename(columns={'year': 'Year', 'team': 'Team', 'code': 'Code','active': 'Payroll'})
    
    df = pd.merge(df, cpi, on='Year')
    df = pd.merge(df, bri, on='Year')

    df['Adjusted_Payroll'] = df['Payroll'] / (df['Annual'] + df['Index'])

    df.to_csv(f'active_payroll_{team}.csv')

KeyError: 'Year'

In [5]:
df

                                                                                                                               <<<<<<< HEAD
NaN                                                Unnamed: 0    Team          Code Year      Payroll   Annual  Revenue    Adjusted_Payroll
0                                                  0             Atlanta Hawks ATL  2021      132777480 270.97  641.0    145594.13138590084
1                                                  1             Atlanta Hawks ATL  2020      115950371 258.811 792.0    110343.69739182404
2                                                  2             Atlanta Hawks ATL  2019      82491624  255.657 876.0     72894.54666917627
3                                                  3             Atlanta Hawks ATL  2018      62166838  251.107 801.0     59087.94257618284
4                                                  4             Atlanta Hawks ATL  2017      67426026  245.12  737.0     68653.55150083493
5                                                  5             Atlanta Hawks ATL  2016      92928845  240.007 587.0    112367.66436076116
6                                                  6             Atlanta Hawks ATL  2015      71332945  237.017 518.0     94478.59452171274
7                                                  7             Atlanta Hawks ATL  2014      57245276  236.736 479.0      79980.9929918294
8                                                  8             Atlanta Hawks ATL  2013      55517146  232.957 456.0     80581.43831908233
9                                                  9             Atlanta Hawks ATL  2012      63620146  229.594 368.0    106460.48320431595
10                                                 10            Atlanta Hawks ATL  2011      71583096  224.939 396.0    115282.00998809868
=======                                            NaN           NaN           NaN  NaN       NaN       NaN     NaN                     NaN
NaN                                                team          code          year active    NaN       NaN     NaN                     NaN
14                                                 Atlanta Hawks ATL           2022 148480277 NaN       NaN     NaN                     NaN
47                                                 Atlanta Hawks ATL           2021 132777480 NaN       NaN     NaN                     NaN
83                                                 Atlanta Hawks ATL           2020 115950371 NaN       NaN     NaN                     NaN
118                                                Atlanta Hawks ATL           2019 82491624  NaN       NaN     NaN                     NaN
148                                                Atlanta Hawks ATL           2018 62166838  NaN       NaN     NaN                     NaN
171                                                Atlanta Hawks ATL           2017 67426026  NaN       NaN     NaN                     NaN
194                                                Atlanta Hawks ATL           2016 92928845  NaN       NaN     NaN                     NaN
232                                                Atlanta Hawks ATL           2015 71332945  NaN       NaN     NaN                     NaN
265                                                Atlanta Hawks ATL           2014 57245276  NaN       NaN     NaN                     NaN
294                                                Atlanta Hawks ATL           2013 55517146  NaN       NaN     NaN                     NaN
314                                                Atlanta Hawks ATL           2012 63620146  NaN       NaN     NaN                     NaN
335                                                Atlanta Hawks ATL           2011 71583096  NaN       NaN     NaN                     NaN
>>>>>>> parent of 8e615ed (Updated team payroll... NaN           NaN           NaN  NaN       NaN       NaN     NaN                     NaN