In [1]:
# import necessary libraries
import pandas as pd
import os
import glob

In [13]:
cpi = pd.read_csv('C:/Users/whisk/OneDrive/Documents/Bristol/Economics/Year 4/Data Science/slblundell.github.io/nba_project/data/cpi-u_2013-22.csv')
bri = pd.read_csv('C:/Users/whisk/OneDrive/Documents/Bristol/Economics/Year 4/Data Science/slblundell.github.io/nba_project/data/total_league_revenues.csv')

In [59]:
teams = ['atl', 'bkn', 'bos', 'cha', 'chi', 'cle', 'dal', 'den', 'det', 'gsw', 'hou', 'ind', 'lac', 'lal', 'mem', 
'mia', 'mil', 'min', 'nop', 'nyk', 'okc', 'orl', 'phi', 'phx', 'por', 'sac', 'sas', 'tor', 'uth', 'was']

In [ ]:
for team in teams:
    df = pd.read_csv(f'active_payroll_{team}.csv')
    
    df = df.rename(columns={'year': 'Year', 'team': 'Team', 'code': 'Code','active': 'Payroll'})
    
    df = pd.merge(df, cpi, on='Year')
    df = pd.merge(df, bri, on='Year')

    df['Adjusted_Payroll'] = df['Payroll'] / (df['Annual'] + df['Index'])

    df.to_csv(f'active_payroll_{team}.csv')

In [ ]:
for team in teams:
    df = pd.read_csv(f'active_payroll_{team}.csv')

    df = df.drop(columns=["Unnamed: 0.1", "Unnamed: 0", "Annual", "Revenue", "Adjusted_Payroll"])

    df = pd.merge(df, cpi, on='Year')
    df = pd.merge(df, bri, on='Year')

    df['Adjusted_Payroll'] = df['Payroll'] / (df['Annual'] + df['Index']).reset_index(drop=True)

    df.to_csv(f'active_payroll_{team}.csv')

In [38]:
df = pd.read_csv('team_active_payroll.csv').drop(columns='Unnamed: 0').reset_index(drop=True)

In [41]:
df

                      team code  year     active
0     Los Angeles Clippers  LAC  2022  191952857
1    Golden State Warriors  GSW  2022  189494053
2            Brooklyn Nets  BKN  2022  181188628
3          Milwaukee Bucks  MIL  2022  176699627
4           Boston Celtics  BOS  2022  175519498
..                     ...  ...   ...        ...
355    Cleveland Cavaliers  CLE  2011   48030927
356        Houston Rockets  HOU  2011   43714664
357        New Jersey Nets  NJN  2011   47743918
358         Indiana Pacers  IND  2011   44413746
359       Sacramento Kings  SAC  2011   36583409

[360 rows x 4 columns]

In [49]:
average_payroll = {}

for year in range(2011, 2023):
    for row in df:
        average_payroll.update({year: df.loc[df['year'] == year, 'active'].mean()})

In [56]:
adj = pd.read_csv('adjusted_payroll_averages.csv').drop(columns=['Average_Payroll', 'CPI', 'Revenue_Index']).reset_index(drop=True)

In [57]:
adj

    Year  Adj_Payroll_Avg
0   2011      161738.1226
1   2012      174126.9676
2   2013      156456.4108
3   2014      155269.4738
4   2015      166383.5677
5   2016      199784.2533
6   2017      197099.9609
7   2018      193132.0201
8   2019      195822.8910
9   2020      214094.5081
10  2021      245773.8043

In [61]:
for team in teams:
    df = pd.read_csv(f'active_payroll_{team}.csv').reset_index(drop=True)
    
    df = pd.merge(df, adj, on='Year').reset_index(drop=True)

    df.to_csv(f'active_payroll_{team}.csv')