In [1]:
# import necessary libraries
import pandas as pd
import os
import glob

In [2]:
cpi = pd.read_csv('C:/Users/whisk/OneDrive/Documents/Bristol/Economics/Year 4/Data Science/slblundell.github.io/nba_project/data/cpi-u_2013-22.csv')
bri = pd.read_csv('C:/Users/whisk/OneDrive/Documents/Bristol/Economics/Year 4/Data Science/slblundell.github.io/nba_project/data/total_league_revenues.csv')

In [3]:
teams = ['atl', 'bkn', 'bos', 'cha', 'chi', 'cle', 'dal', 'den', 'det', 'gsw', 'hou', 'ind', 'lac', 'lal', 'mem', 
'mia', 'mil', 'min', 'nop', 'nyk', 'okc', 'orl', 'phi', 'phx', 'por', 'sac', 'sas', 'tor', 'uth', 'was']

In [4]:
for team in teams:
    df = pd.read_csv(f'active_payroll_{team}.csv')
    
    df = df.rename(columns={'year': 'Year', 'team': 'Team', 'code': 'Code','active': 'Payroll'})
    
    df = pd.merge(df, cpi, on='Year')
    df = pd.merge(df, bri, on='Year')

    df['Adjusted_Payroll'] = df['Payroll'] / (df['Annual'] + df['Index'])

    df.to_csv(f'active_payroll_{team}.csv')

In [6]:
df = pd.read_csv('active_payroll_bkn.csv')
df

,Unnamed: 0.1,Unnamed: 0,Team,Code,Year,Payroll,Annual,Revenue,Adjusted_Payroll
0,0,0,Brooklyn Nets,BKN,2022,181188628,297.711,1000.0,139621.709302
1,1,1,Brooklyn Nets,BKN,2021,157847950,270.970,641.0,173084.586116
2,2,2,Brooklyn Nets,BKN,2020,163724180,258.811,792.0,155807.447771
3,3,3,Brooklyn Nets,BKN,2019,94820578,255.657,876.0,83789.149893
4,4,4,Brooklyn Nets,BKN,2018,77805720,251.107,801.0,73952.288123
5,5,5,Brooklyn Nets,BKN,2017,89124239,245.120,737.0,90746.791634
6,6,6,Brooklyn Nets,BKN,2016,65405906,240.007,587.0,79087.487772
7,7,7,Brooklyn Nets,BKN,2015,51712738,237.017,518.0,68492.150508
8,8,8,Brooklyn Nets,BKN,2014,88024730,236.736,479.0,122984.913432
9,9,9,Brooklyn Nets,BKN,2013,102766374,232.957,456.0,149162.246700
10,10,10,Brooklyn Nets,BKN,2012,83048918,229.594,368.0,138972.141621
11,11,11,New Jersey Nets,BKN,2011,47743918,224.939,396.0,76889.868409

In [7]:
for team in teams:
    df = pd.read_csv(f'active_payroll_{team}.csv')

    df = df.drop(columns=["Unnamed: 0.1", "Unnamed: 0", "Annual", "Revenue", "Adjusted_Payroll"])

    df = pd.merge(df, cpi, on='Year')
    df = pd.merge(df, bri, on='Year')

    df['Adjusted_Payroll'] = df['Payroll'] / (df['Annual'] + df['Index']).reset_index(drop=True)

    df.to_csv(f'active_payroll_{team}.csv')

In [10]:
df

,Unnamed: 0,Team,Code,Year,Payroll,Annual,Revenue,Index,Adjusted_Payroll
0,0,Washington Wizards,WAS,2021,126147247,270.970,641,240.977444,246406.635245
1,1,Washington Wizards,WAS,2020,126243515,258.811,792,297.744361,226830.112275
2,2,Washington Wizards,WAS,2019,87153787,255.657,876,329.323308,148985.847495
3,3,Washington Wizards,WAS,2018,115917170,251.107,801,301.127819,209905.579849
4,4,Washington Wizards,WAS,2017,122840421,245.120,737,277.067669,235241.902951
5,5,Washington Wizards,WAS,2016,101659831,240.007,587,220.676692,220671.651356
6,6,Washington Wizards,WAS,2015,76328636,237.017,518,194.736842,176787.392623
7,7,Washington Wizards,WAS,2014,72952787,236.736,479,180.075188,175025.980829
8,8,Washington Wizards,WAS,2013,63807197,232.957,456,171.428571,157788.015975
9,9,Washington Wizards,WAS,2012,57506990,229.594,368,138.345865,156294.534834
10,10,Washington Wizards,WAS,2011,66770575,224.939,396,148.872181,178621.128749