Arrays, vectors, `lists`  
Cell navigation: `Ctrl+Enter` runs the cell  
`Alt+Enter` runs and adds a new one below
`Shift+Etner` runs and steps into the next cell

In [3]:
a = [2,4,3,"fdfd",[5,6]] 
a

[2, 4, 3, 'fdfd', [5, 6]]

In [7]:
a[4][0]

5

This is a nice **comments**  
Dictionary, Object, Hash table

In [13]:
b={'alfa':1, 
   'beta':27, 
   'gamma':[0,1,2], 
   'delta':'67.3', 
   'ninety-eight':{
       'a':5,
       'b':7}
   }

In [14]:
b['ninety-eight']['a']

5

In [27]:
b.keys(),b.values()

(dict_keys(['alfa', 'beta', 'gamma', 'delta', 'ninety-eight']),
 dict_values([1, 27, [0, 1, 2], '67.3', {'a': 5, 'b': 7}]))

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('daily_yields.csv')

In [5]:
df.head(4)

     Maturity     Yield
0  2022-07-09  2.154360
1  2022-07-10  2.173819
2  2022-07-11  2.193279
3  2022-07-12  2.212738

In [4]:
exported_values = list( df.T.to_dict().values() )

In [6]:
import json

In [7]:
open('my_first_json_file.json',
     'w').write( json.dumps(exported_values) )

676298