In [1]:
import json
import pandas as pd

In [13]:
data = pd.read_csv('Americans_Time_spent_with_relationships_by_age.csv').reset_index(drop=True).drop(columns='Unnamed: 0')

In [14]:
data

,Entity,Code,Year,"Time spent alone, by age of respondent (United States)","Time spent with friends, by age of respondent (United States)","Time spent with children, by age of respondent (United States)","Time spent with with parents, siblings and other family, by age of respondent (United States)","Time spent with partner, by age of respondent (United States)","Time spent with coworkers, by age of respondent (United States)"
0,United States,USA,15,193.30588,109.414500,23.463852,267.120910,0.000000,8.342007
1,United States,USA,16,206.37056,110.741800,28.609867,254.338100,0.030691,23.529137
2,United States,USA,17,224.17331,120.418870,26.089708,229.815610,1.122841,43.809685
3,United States,USA,18,242.69839,137.751070,27.387308,236.352010,5.697267,81.633575
4,United States,USA,19,267.79385,129.857160,36.445004,201.276600,19.341291,124.850520
...,...,...,...,...,...,...,...,...,...
62,United States,USA,77,454.31250,33.595589,46.719131,67.455605,272.730130,12.479350
63,United States,USA,78,461.63959,39.297825,42.985035,59.704296,256.413760,3.249441
64,United States,USA,79,485.83075,41.975792,38.609028,51.944447,235.370100,4.532563
65,United States,USA,80,476.76736,35.589745,45.010258,66.100365,227.046340,5.215204
66,United States,USA,85,501.88327,36.371460,45.463383,65.052567,158.420170,3.573382

In [15]:
data = data.melt(id_vars=["Entity", "Code", "Year"], var_name="Catagory", value_name="Value")

In [16]:
data

,Entity,Code,Year,Catagory,Value
0,United States,USA,15,"Time spent alone, by age of respondent (United...",193.305880
1,United States,USA,16,"Time spent alone, by age of respondent (United...",206.370560
2,United States,USA,17,"Time spent alone, by age of respondent (United...",224.173310
3,United States,USA,18,"Time spent alone, by age of respondent (United...",242.698390
4,United States,USA,19,"Time spent alone, by age of respondent (United...",267.793850
...,...,...,...,...,...
397,United States,USA,77,"Time spent with coworkers, by age of responden...",12.479350
398,United States,USA,78,"Time spent with coworkers, by age of responden...",3.249441
399,United States,USA,79,"Time spent with coworkers, by age of responden...",4.532563
400,United States,USA,80,"Time spent with coworkers, by age of responden...",5.215204
401,United States,USA,85,"Time spent with coworkers, by age of responden...",3.573382

In [8]:
data = data.to_json()

In [17]:
data.to_csv('time_spent_relationships.csv')

In [9]:
open('time_spent_relationships.json',
     'w').write( json.dumps(data))

59634